<section class="modal__wrapper">
    <div class="modal">
        <div class="modal__close">
            <svg>
                <use xlink:href="assets/images/sprite/close.svg#close"></use>
            </svg>
        </div>
        <h2>Оставить заявку</h2>
        <form class="modal__form" id="sendForm">
            <label>
                <input type="text" class="modal__input" name="name" placeholder="Имя*" required>
            </label>
            <label>
                <input type="tel" class="modal__input custom-input" name="tel" placeholder="Телефон*" required="">
            </label>
            <label>
                <input type="email" class="modal__input" name="email" placeholder="Почта*" required>
            </label>
            <div class="modal__text">Нажимая на кнопку вы соглашаетесь с обработкой персональных данных</div>
            <button type="submit" class="credit__button">Отправить</button>
        </form>
    </div>
</section>